:root{
    /* Color */
 --white-color:#fff;
 --black-color:#140a00;
 --blue-color:#045fd4;
 --red-color:#ff0000;
 --grey-dark-color:#909090;
 --gray-light-color:#e0e0e0;
    /* Size */
 --padding:12px;
 --avatar-size:36px;
    /* Font Size */
 --font-large:18px;
 --font-medium:14px;
 --font-small:12px;
 --font-micro:10px;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Roboto;
}
li{
    list-style: none;
}
/*
button{
   background:none;
    border: none;
} */

/* Header */
header{
    display:flex;
    justify-content: space-between;
    padding:var(--padding);
    background-color:var(--black-color);
    color:var(--white-color);
}
header .logo{
    font-size:var(--font-large);
}
header .logo i{
    color:var(--red-color);
}
header .icons .fa-search{
 /* margin-right:var(--padding); */
 padding-right:var(--padding);
}
/* video player  */
.player{
    position:sticky;
    top:0;
    text-align:center;
    background-color:var(--black-color);
    /* height:40vh; */
    /* margin-bottom: var(--padding); */
   
}
.player iframe{
    width:100%;
    height:100%;
    max-width: 1000px;
}
/* info */
.info{
 padding:var(--padding);
}
 .info .metadata .hashtags{
    display:flex;
    font-size:var(--font-small);
    color:var(--blue-color);
}
.info .metadata .hashtags li{
    margin-right:var(--padding);
}
.titleAndButton{
    display:flex;
}
/*
.titleAndButton span{
    font-weight: 600;
}
.views{
    font-size:var(--font-medium);
    margin-bottom: var(--padding);
}
.actions{
    display:flex;
    justify-content:space-around;
}
.channel{
    border-top: solid 1px  rgb(223, 216, 216);
    border-bottom: solid 1px  rgb(223, 216, 216);
    display:flex;
    justify-content:space-between;
}
.metadata img{
    padding:var(--padding);
    font-size:var(--avatar-size);
  
} */